###############
# Configuration
# Update these variables to fit your collection
###############

# The path to your qmk firmware folder
qmk_firmware="/Users/username/qmk_firmware"

# The path to your workspace folder
qmk_workspace="/Users/username/qmk_workspace"

# Note
# This script makes the assumption that your userspace contains a file named <qmk_user>.c
# Usually your github username but could be anything
# This will be the name of your userspace folder. i.e. `qmk_firmware/users/<qmk_user>/`
qmk_user="user"

# The path to your keyboard(s) and revision relative to qmk_firmware/keyboards/
# Note: This is the `-kb` parameter in the `qmk compile` command
# Note: If for example you have two of the same keyboard with different revisions, 
#    you would need to duplicate the relevant entry in the layouts definition below.
# Note: I'm open to suggestions. I'm learning bash scripting as I go. I'm thinking a dictionary 
#    setup (e.g. [String: [String]] i.e `[layout: [keyboards]]`) that at least to
#    some degree automatically maintains the pairs by scanning qmk_firmware for changes.
#    Seems simple in other languages, but I set out to create a bash script so here we here
keyboards=( 
    "planck/ez" # Keyboard w/ revision path
    "ergodox_ez" # Keyboard w/out revision path
)

# The path where your layout will be stored relative to 
# "qmk_firmware/layouts/" in the same order as the previous array
layouts=(
    "ortho_4x12"
    "ergodox"
)